@model RamirezforaneoApp.Models.User
@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit User</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CedulaUser" class="control-label"></label>
                <input asp-for="CedulaUser" class="form-control" />
                <span asp-validation-for="CedulaUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyProgram" class="control-label"></label>
                <input asp-for="StudyProgram" class="form-control" />
                <span asp-validation-for="StudyProgram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionNumber" class="control-label"></label>
                <input asp-for="SessionNumber" class="form-control" />
                <span asp-validation-for="SessionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateName" class="control-label"></label>
                <input asp-for="StateName" class="form-control" />
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCreationDate" class="form-label"></label>
                <input asp-for="UserCreationDate" class="form-control" disabled />                
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
